body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(179, 189, 68);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select {
    font-size: 1.2em;
}

h1 {
    color: rgb(36, 19, 6);
}

button {
    font-size: 1.4em;
    padding: 0.5em;
    background-color: rgb(36, 19, 6);
    border: none;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 0.4em;
    color: #fff;
}

img {
    height: 10em;
    border: 1px solid rgb(28, 17, 8);
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 0.2em;
    font-size: 1.4em;
}

label {
    margin-top: 1em;
}